.App-header {
  text-align: center;
}

.col {
   vertical-align: center;
}

#addQuestionButton {
   text-align: center;
}

#askQuestionInput {
   width: 65%;
   padding-top: 5px;
   padding-left: 5px;
   padding-bottom: 5px;
   border-width: 0px;
   margin-right: 20px;
   margin-left: 60px;
   margin-bottom: 20px;
   border-radius: 3px;
   /*background-color: inherit;*/
}

#addCommentInput {
   width: 80%;
   margin-left: 20px;
   padding-top: 5px;
   padding-left: 5px;
   padding-bottom: 5px;
   border-width: 0px;
   margin-right: 20px;
   border-radius: 3px;
}

#submitQuestionButton {
   width: 10%;
   padding-top: 5px;
   border-radius: 5px;
   padding: .375rem;
}

#numVotes {
   margin-bottom: 0px;
}

h6, h5 {
   line-height: 150%;
}

.App-logo {
  /*animation: App-logo-spin infinite 10s linear;*/
  height: 120px;
}

.App-header {
  background-color: #4adfdf;
  height: 175px;
  padding: 5px;
  color: white;
}

.header-text {
  margin-top: 2.5px;
  font-weight: 500;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*.card {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow;
  margin: 10px;
}*/
