.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 10s linear;*/
  height: 120px;
}

.App-header {
  background-color: #4adfdf;
  height: 175px;
  padding: 5px;
  color: white;
}

.header-text {
  margin-top: 2.5px;
  font-weight: 500;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
